
/* .scard{
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
  margin:0 auto;
  float:left;
  width: 30%;
  padding-bottom: 1em;
} */
.scard{
  float:right;
}
body {
  /* background-image: url(../public/images/bg1.jpg);  */
  /* #1C8EF9 !important; */
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.details{
  background-color: #ffffff;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiVIkNzbpPIvlAmtB4AjlObkcStXCyqQ2Jig&usqp=CAU"); */
  height: auto; 
  width: auto;
  /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
   /* Do not repeat the image */
  background-size: cover;
  align-items:center;
  
}
.scar{
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  float:left;
  width: 25%;
  padding-bottom: 1em;
}

.bookapp {
  display: flex;
  flex-direction: row;
  color: black;
}
.pbody{
  font-size: 18px;
  font-weight:400;
}
.sidebar {
  min-height: 100vh;
  min-width: 12em;
  width: 28%;
  border-right: solid black 1px;
  background: #FCDE67;
  padding: 1em;
}

.poems-container > div {
  border-bottom: solid 1px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.poems-container > div > button {
  min-width: 4em;
}

form.new-poem-form {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form.new-poem-form > input,
form.new-poem-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}

input[type="submit"],
button {
  font-weight: bold;
  font-size: 1em;
  background: #AC7088;
  border: solid black 1px;
  padding: 0.5em;
  cursor: pointer;
}


.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin-top: 80px;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  /* border-color: #167bff; */
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}